<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qbao.store.mapper.index.ImsiIndexEntityMapper" >
  <resultMap id="BaseResultMap" type="com.qbao.store.entity.index.ImsiIndexEntity" >
    <id column="id" property="id" jdbcType="INTEGER" /> 
    <result column="imsi" property="imsi" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="is_bind" property="isBind" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, imsi, user_id, is_bind
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_index_imsi
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByImsi" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_index_imsi
    where imsi = #{imsi,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.String" >
    delete from user_index_imsi
    where imsi = #{imsi,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qbao.store.entity.index.ImsiIndexEntity" >
    insert into user_index_imsi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imsi != null" >
        imsi,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isBind != null" >
        is_bind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imsi != null" >
        #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isBind != null" >
        #{isBind,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.qbao.store.entity.index.ImsiIndexEntity" >
    update user_index_imsi 
    <set>
      <if test="imsi != null" >
        imsi = #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isBind != null" >
       is_bind = #{isBind,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id, jdbcType=INTEGER}
  </update>
  
  <update id="updateBindStatus" parameterType="com.qbao.store.entity.index.ImsiIndexEntity" >
    update user_index_imsi 
    <set>
      <if test="isBind != null" >
       is_bind = #{isBind,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id, jdbcType=INTEGER}
  </update>
</mapper>